/*
 * @Author: liu71 
 * @Date: 2022-02-13 16:58:44 
 * @Last Modified by: liu71
 * @Last Modified time: 2022-04-08 21:29:18
 */
.layout {
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  position: relative;
  &-nav {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: #ffffff;
    z-index: 999;
    &:hover {
      opacity: 1;
    }
    a {
      margin: 0 8px;
    }
  }
  &-content {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
